SLASH = /
PRODUCTION_API_HOST = phpstack-1634854-6489525.cloudwaysapps.com
PRODUCTION_WS_HOST = phpstack-1634854-6489525.cloudwaysapps.com
REST_BASE_URL = https:$(SLASH)$(SLASH)$(PRODUCTION_API_HOST)$(SLASH)api
WEBSOCKET_URL = wss:$(SLASH)$(SLASH)$(PRODUCTION_WS_HOST)$(SLASH)realtime
TELEGRAM_BOT_USERNAME = verificMobileMessengerIOSbot
FEATURE_REALTIME = YES
FEATURE_PUSH = YES
FEATURE_MEDIA = YES
FEATURE_VERBOSE_LOGGING = NO
CURRENT_PROJECT_VERSION = 1
APS_ENVIRONMENT = production
