# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Backend
server/node_modules/
server/dist/
server/.env
server/.env.*
!server/.env.example
